// Dependecies
@import "../../node_modules/bootstrap/scss/bootstrap";

// @import './components/app/main';
// @import './components/app/loader';

// // auth styles
// @import './components/auth/main';

@import './main';

a.company {
  color: #fff;
  font-weight: 700;

  &:hover {
    text-decoration: underline;
  }
}